body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#quiz-box {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#quiz {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#countdown {
    justify-content: center;
    display: flex;
    font-weight: bold;
}

p {
    padding:10px;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

.quiz-button, .control-button {
    background-color: purple;
    color: white;
}

.quiz-button:hover, .control-button:hover {
    background-color: violet;
}

#result {
    margin-top: 20px;
    display: none;
    border-top: 1px gray;
    color: gray;
}

.quiz-button {
    padding: 5px;
    border-radius: 2px;
    align-self: flex-start;
    margin: 5px;
}

#reset-button, #view-scores, #back-button, #save-button {
    display: none;
}

#back-button {
    order: 0;
}

.score-item {
    text-align: right;
}

#control-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control-button{
    justify-self: flex-end;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin: 10px;
}